@font-face {
    font-family: VT323;
    src: url(./VT323-Regular.ttf);
}

.description{
    background: linear-gradient(90deg, rgba(247,196,247,1) 2%, rgba(215,230,233,1) 100%);
    font-family: VT323, monospace;
    font-size: 3vh;
    padding: 10px;
    color: #416269;
    margin-top: 25vh;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: 5px solid #3A9EB5;
    border-right: 5px solid #3A9EB5;
    border-bottom: 5px solid #3A9EB5;
    width: fit-content;
}

.top-row{
    display: flex;
}

.title{
    margin-top: 2.5vh;
    margin-left: 20px;
    font-size: 5vh;
}

